---
import { profileConfig } from "../config";
import { url } from "@utils/url-utils";

let introPage : string;

if (profileConfig.introPage) {
    introPage = profileConfig.introPage;
} else {
    introPage = import.meta.env.BASE_URL;
}
---

<div class="footer">
    <div class="text">
	    <a target="_blank" href="" target="_blank">永远相信美好的事情即将发生</a>
        <a target="_blank" href="https://xgxh.cc" target="_blank">雪糕主站</a>
    </div>
</div>

<style>

    .footer{
        width: 100%;
        padding-bottom: 20px;
        padding-top: 40px;
    }

    .footer .text{
        text-align: center;
        font-size: 14px;
        color: var(--footer-text-color);
        /* font-family: 'Comic Sans MS'; */
    }
    
    .footer a {
        color: inherit;
        /* transition: color 0.3s ease; */
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    
    .footer a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom-style: dotted;
        border-bottom-width: 2px;
        /* background: currentColor; */
        transition: transform 0.3s ease;
        transform-origin: right;
        transform: scaleX(1);
    }
    
    .footer a:hover {
        color: var(--link-color);
    }
    
    .footer a:hover::before {
        transform-origin: right;
        transform: scaleX(0);
    }
</style>